<%- include ('partials/header') -%>

<h1>This is the show template</h1>

<p><%=campfound.name%></p>

<img src="<%=campfound.image%>"%>
<div>

    <p><%=campfound.description%></p>
</div>

<%- include ('partials/footer') -%>